* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  flex: 1;
  min-height: 80px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Light.woff2") format("woff2"), url("./fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Regular.woff2") format("woff2"), url("./fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jolly Lodger";
  src: url("./fonts/JollyLodger.woff2") format("woff2"), url("./fonts/JollyLodger.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./fonts/OpenSans-Bold.woff2") format("woff2"), url("./fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Jolly Lodger";
  font-weight: normal;
  font-size: 40px;
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 16px;
  color: rgb(7, 36, 46);
  text-align: center;
}

h2 {
  font-family: "Jolly Lodger";
  font-weight: 300;
  font-size: 32px;
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
  color: rgb(7, 36, 46);
  text-align: center;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0;
  color: black;
  display: flex;
  flex-direction: column;
  font-optical-sizing: auto;
  font-size: 16px;
  min-height: 100vh;
  text-align: center;
}

header {
  min-height: 80px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgba(7, 36, 46);
}

.atf {
  background-color: rgba(4, 45, 58);
}

.atf img {
  height: 40px;
}

.atf p {
  color: white;
  padding-left: 16px;
  font-weight: 300;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.noteUnit {
  flex: 1 1 calc(25% - 12px); /* 25% Breite */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(7, 36, 46);
  color: white;
  margin-top: 8px;
  max-width: 160px; /* Optionale Begrenzung */
  min-width: 120px; /* Optionale Begrenzung */
  border-radius: 8px;
  box-sizing: border-box; /* Bezieht padding/margin in die Breite ein */
}
.iconUnit {
  display: flex;
  justify-content: space-between;
  gap: 72px;
  margin-bottom: 8px;
}

.noteStyle {
  padding: 8px;
  font-size: 12px;
  text-align: center;
  padding-bottom: 16px;
}

.titleStyle {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.link {
  text-decoration: none;
  color: rgb(7, 36, 46);
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: rgb(15, 91, 116);
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.addNote {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
input {
  border-color: solid black;
  border-radius: 8px;
}

.addNoteContainer {
  display: flex;
  justify-content: center;
}

.add {
  background-image: url("./assets/icons/plus-solid.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  object-fit: cover;
  padding: 12px 12px;
}

.delete {
  background-image: url("./assets/icons/x-solid.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  object-fit: cover;
  padding: 12px 12px;
}

.archive {
  background-image: url("./assets/icons/folder-open-regular.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  object-fit: cover;
  padding: 12px 12px;
}

.unarchive {
  background-image: url("./assets/icons/inbox-solid.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  object-fit: cover;
  padding: 12px 12px;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 120px;
  right: 20px; /* Place the button 30px from the right */
  cursor: pointer;
  background-image: url("./assets/icons/arrow-up-solid.svg");
  background-color: rgba(7, 36, 46, 0.1);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
  padding: 16px 16px;
}

#topBtn:hover {
  background-color: rgba(7, 36, 46, 0.6);
}

footer {
  background-color: rgb(7, 36, 46);
  min-height: 80px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(16px, 12vw, 160px);
  display: flex;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgba(7, 36, 46);
}

footer img {
  height: 40px;
}

.einladung {
  text-align: center;
  background-image: url(./assets/img/Schlichter\ Geist\ mit\ ovalen\ Augen\ zum\ Ausmalen.jpg);
}

.einladung img {
  width: 300px;
  margin-top: 16px;
}

@media screen and (max-width: 700px) {
  .addNote {
    flex-direction: column;
    align-items: flex-start;
  }
  .addNoteContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }

  .addNote {
    align-items: center;
  }

  .einladung img {
    width: 180px !important;
  }
}

@media screen and (max-width: 500px) {
  .einladung img {
    width: 120px !important;
    margin-top: 16px !important;
  }

  main {
    padding-inline: 0;
  }
}
